<?xml version="1.0"?>
<launch>

  <!--- Run gmapping -->
  <param name="/use_sim_time" value="true"/>
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    <param name="delta" value="0.05"/>
    <param name="xmin" value="-120"/>
    <param name="xmax" value="120"/>
    <param name="ymin" value="-120"/>
    <param name="ymax" value="120"/>
    <remap from="scan" to="mybot/laser/scan"/>
    <param name="base_frame" value="chassis" />
    <param name="minimumScore" value="50"/>
    <param name="linearUpdate" value="0.1"/>
    <param name="angularUpdate" value="0.1"/>
    <param name="particles" value="30"/>
	  <param name="resampleThreshold" value="0.5"/>
</node>
	
</launch>
